*{
    margin: 0px;
    padding: 0px;
}
nav{
   background-color: black;
   color: white;
   padding: 10px;
}
nav h1{
    text-align: center;
}
li{
    display: inline;
    color: gray;
    cursor: pointer;
}
ul{
    text-align: center;
    margin-top: 10px;
}
li:hover{
    color: white;
    
}
.box{
    border: black 1px solid;
    width: 210px;
    display: inline-block;
    margin-top: 25px;
}
.receipe{
    text-align: center;
}
    
button{
    background-color: black;
    color: white;
    padding: 5px;
    text-align: center;
    margin-left: 5px;
    margin-top: 10px;
}

form{
text-align: center;
padding: 10px;

}
table{
    text-align: center;
    margin-left: 40%;
    color: white;
}
input{
    margin: 5px;
}
.contact{
    background-color: black;
    color: white;
    margin-top: 20px;
    text-align: center;
}
.btn{
   width: 500px;
   background-color: yellow;
   color: black;
   text-align: center;
}
